@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* Common-Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.863);
}

html {
  font-size: 62.5%;
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: #f1f1f1;
  text-align: center;
  letter-spacing: 0.2rem;
  text-shadow: 0.6rem 0.5rem 0.5rem #111;
}
/* End of Common-Style */

/* Section-1 Style */
.section-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  justify-content: space-evenly;
}
.section-1-icons i {
  position: absolute;
  font-size: 30rem;
  color: #a79a2d;
  transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.6rem 0.5rem 0.5rem #111;
  transition: transform 0.3s;
}
.section-1-icons i.change {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s 0.3s;
}
/* End Of Section-1 Style */

/* Section-2 Style */
.section-2 {
  width: 100%;
  min-height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 0;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  background-color: #a79a2d;
  padding: 3rem;
  box-shadow: 0.6rem 0.5rem 0.5rem #111;
  position: relative;
  transform: rotateY(20deg) skewX(-2deg);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 100%;
}

.card h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  margin: 2rem 0;
}

.card button {
  padding: 1rem 3rem;
  border-radius: 5rem;
  border: none;
  background-color: #111;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
}

.card::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 100%;
  top: 0;
  left: -1rem;
  background-color: #837a27;
  transform: skewY(45deg);
  transform-origin: right;
}
.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1rem;
  top: -1rem;
  left: 0;
  background-color: #726917;
  transform: skewX(45deg);
  transform-origin: bottom;
}

.card:hover {
  transform: rotateY(20deg) skewX(-2deg) translateY(-1rem);
  box-shadow: 0.9rem 0.9rem 0.9rem #111;
}

/* End Of Section-2 Style */

/* Section-3 Style */
.section-3 {
  /* width: 100%; */
  /* height: 100vh; */
  background-color: #333;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 5rem 0;
}

.food-img {
  width: 22vw;
  height: 15vw;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
    0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: filter 0.3s, transform 0.3s;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 10rem;
  margin-top: 5rem;
}

.gallery-link {
  /* padding: 1rem 1rem; */
  margin-bottom: 8rem;
  position: relative;
}

.gallery-link:hover .food-img {
  filter: blur(0.5rem);
  opacity: 0.5;
  box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946,
    3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
  transform: scale(1.1);
}

.food-name {
  position: absolute;
  font-size: 1.5rem;
  width: 0;
  overflow: hidden;
  font-size: 3rem;
  color: #fff;
  bottom: 3vw;
  left: 2rem;
  top: 2.5rem;
  left: 3rem;
  transition: width 0.3s;
}

.food-description {
  position: absolute;
  width: 70%;
  top: 8.5rem;
  left: 3rem;
  font-size: 2rem;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.gallery-link::before {
  content: "";
  height: 0.3rem;
  /* width: 80%; */
  width: 0;
  top: 7rem;
  left: 3rem;
  background-color: #fff;
  position: absolute;
  transition: width 0.3s;
  z-index: 10;
}
.gallery-link::after {
  content: "";
  /* height: 70%; */
  height: 0;
  width: 0.3rem;
  top: 4rem;
  right: 7rem;
  background-color: #fff;
  position: absolute;
  transition: height 0.3s;
  z-index: 10;
}

.gallery-link:hover::before {
  width: 80%;
}
.gallery-link:hover::after {
  height: 70%;
}

.gallery-link:hover .food-name {
  width: 100%;
  transition: width 1.2s 0.3s;
}
.gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 0.3s;
}

/* End Of Section-3 Style */

/* Section-4 Style */
.section-4 {
  width: 100%;
  min-height: 30vh;
  background-color: #222;
}

.footer {
  display: flex;
  height: 65%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.footer-text h1 {
  color: #a79a2d;
  font-weight: 900;
  font-size: 5rem;
  /* text-align: center; */
}
.footer-text p {
  /* text-align: center; */
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  margin-top: 1rem;
}

.footer-email input {
  width: 30rem;
  height: 4rem;
  padding: 1rem;
  background-color: rgb(240, 240, 240);
}

.footer-email button {
  padding: 1rem;
  background-color: rgb(255, 249, 249);
}
.footer-email button i {
  font-size: 1.2rem;
  font-weight: 900;
}

::placeholder {
  color: rgb(134, 134, 134);
  font-weight: 900;
}

.footer-end p {
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  color: #fff;
}

.hr-line {
  height: 0.1rem;
  width: 100%;
  background-color: #fff;
}
/* End Of Section-4 Style */

/* Navbar Style */
.navbar {
  min-height: 5rem;
  width: 100%;
  top: 0; /*for hover*/
  background-color: rgba(17, 17, 17, 0.6);
  position: fixed;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.navbar.change {
  top: 0;
}

.navbar a {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-items: center;
  margin: 0 6rem;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.1s 0.1s;
}

.navbar a i {
  font-size: 4rem;
}

.navbar a span {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 1rem;
}

.navbar:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar:hover .nav {
  color: #111;
  transition: color 0.4s 0.2s;
}

/* .menu{
  height: 5rem;
  width: 4rem;
  background-color: #111;
  position: fixed;
  top: 15.5rem;
  left: 3rem;
  border-radius: 20px 20px 2px 2px;
  transition: top 0.4s;
  z-index: 10;
}

.menu::before{
    content: "";
    width: 0.3rem;
    height: 15rem;
    background-color: #111;
    position: absolute;
    top: -25rem;
    left: calc(50% - 0.15rem);
    z-index: 10;
} */

/* End of Navbar Style */

@media screen and (max-width: 480px) {
  .section-heading {
    font-size: 4rem;
    margin-bottom: 8rem;
  }
  .section-1-icons i {
    font-size: 12rem;
  }
  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 25rem;
    margin-bottom: 5rem;
  }

  .card button {
    font-size: 1.8rem;
    padding: 1.2rem 1.2rem;
    border-radius: 1rem;
  }
  .card h3 {
    font-size: 2.8rem;
  }
  .food-img {
    width: 80vw;
    height: 60vw;
    object-fit: cover;
    box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946,
      0.7rem 0.7rem 0.1rem #297ce9, 0.9rem 0.9rem 0.1rem #e92999;
    transition: transform 0.3s, box-shadow 0.3s;
    transition: filter 0.3s, transform 0.3s;
  }
  .gallery-link:hover .food-img {
    filter: blur(0.5rem);
    opacity: 0.5;
    box-shadow: 0.2rem 0.2rem 0.1rem #e92929, 0.4rem 0.4rem 0.1rem #a2e946,
      0.6rem 0.6rem 0.1rem #297ce9, 0.8rem 0.8rem 0.1rem #e92999;
    transform: scale(1.01);
  }
  .food-name{
    font-size: 2rem;
    top: 2rem;
  }
  .food-description{
    font-size: 1.5rem;
    width: 65.5%;
    top: 6.5rem;
  }
  .gallery-link::before {
    content: "";
    height: 0.3rem;
    /* width: 80%; */
    width: 0;
    top: 5rem;
    left: 2.5rem;
    background-color: #fff;
    position: absolute;
    transition: width 0.3s;
    z-index: 10;
  }
  .gallery-link::after {
    content: "";
    /* height: 70%; */
    height: 0;
    width: 0.3rem;
    top: 2.5rem;
    right: 4rem;
    background-color: #fff;
    position: absolute;
    transition: height 0.3s;
    z-index: 10;
  }
  .gallery-link:hover::before {
    width: 85%;
  }
  .gallery-link:hover::after {
    height: 70%;
  }
  .footer-text h1{
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .footer-text p{
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .footer-email input{
    width: 22rem;
    margin: 2rem 0 2rem -4rem;
  }
  .footer-end p{
    font-size: 1.5rem;
  }
  
  .navbar a {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-items: center;
    margin: 0 1rem;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.1s 0.1s;
  }
  
  .navbar a i {
    display: none;
  }
  
  .navbar a span {
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 0rem;
  }
}